<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="css/student-dashboard.css">
</head>
<body>
    <!-- <div class="container"> -->
        <h2>Admin Dashboard</h2>
        <div class="all-student-data">
            <h3     class="align-right">Choose Date</h3>
            <select class="align-right margin-btm-10px">
                <option value="">-- Select a Date --</option>
            </select>
            <!-- <img src="https://avatar.iran.liara.run/public"> -->
            
            <div class="student-info">
                <img src="../imgs/user.jpg">
                <div class="student-data">
                    <p class="name">Name: Fabian, Matric No: FT23CMP0040</p>
                    <div class="times-attended">
                        <p>Times attended: 1</p>
                    </div>
                </div>

                <div class="status">
                    <p>P</p>
                    <p>Present</p>
                </div>
            </div>

        </div>

<!-- 

<script>
        document.querySelector('form button').addEventListener('click', async function() {

const response = await fetch("/api/authn/mark-student", 
            {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ matric_no:document.querySelector("#matno").value}),
            credentials: "include"
        })

        const initResponse = await response.json()


            document.getElementById('status').innerText = "Attendance marked ✅";
            this.disabled = true
            this.innerText = "Attendance Marked"
        });
    </script> -->

</body>
</html>
